.Rproj.user
.Rhistory
.RData
.Ruserdata
initial_analysis.html
initial_analysis_files/figure-html/unnamed-chunk-4-1.png
initial_analysis_files/figure-html/unnamed-chunk-4-2.png
initial_analysis_files/figure-html/unnamed-chunk-4-3.png
initial_analysis_files/figure-html/unnamed-chunk-4-4.png
initial_analysis_files/figure-html/unnamed-chunk-4-5.png
*.pdf
